/*Ordering page*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Quicksand:wght@300;400&display=swap');

body{
  text-align: right;
  font-family: Quicksand;
    background-image: url("https://media.istockphoto.com/photos/white-flowers-on-blue-wooden-background-picture-id1177339095?b=1&k=20&m=1177339095&s=170667a&w=0&h=1F3sCcVjdkc0Se2_JRO7-3Ojzyng0k2QkJT80WYycGA=");
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
  text-align: center;
}
fieldset {
  text-align: center;
  background-color: #f8d3d3; 
  margin: 2em 0;
  padding: 1em 2em;
  border: solid 2px rgb(0, 0, 0);
  min-width: 200px;
  border-radius: 18px;  
}            
legend {
    color: rgb(0, 0, 0);
    font-weight: 300px;
    padding: 0 .25em;
}
label{
    display: block;
    margin-top: 1em;
}
.checks label{
    margin-top: 1em;
}
label:first-of-type{
    margin-top: 0;
}
input {
    padding: 0.5em;
    font-size: 100%;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 6px;
}
input[type="text"]{
    width: 15em;
}
textarea{
    min-height: 8em;
    min-width: 100%;
    padding: .5em;
    border: solid 2px rgb(0, 0, 0);
    font-family: 'Segoe UI', Helvetica, sans-serif;
    resize: vertical;
    max-height: 200px;
    border-radius: 6px;
}
select {
    font-size: 100%;
    cursor: pointer;
    border-radius: 6px; 
    padding: 10px;
    padding-right: 38px;
    appearance: none;
    border: solid 2px rgb(0, 0, 0);
    -webkit-appearance: none;
    -moz-appearance: none;
   
    transition: color 0.3s ease, background-color 0.3s ease, border-bottom-color 0.3s ease;
}
select::-ms-expand {
    display: none; 
    }
select:hover, select:focus {
    color: white;
    background-color: rgb(143, 27, 12);
    border: solid 2px white;
}
.checks p{
    margin-bottom: 0;
}
.checks{
    margin-bottom: 1em;
}
input[type="radio"] + label{
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}
input[type="radio"]{
    margin-left: 1.5em;
    margin-right: 0;
}
input[type="radio"]:first-of-type{
    margin-left: 0;
}
button {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: rgb(143, 27, 12);
    color: #fff;
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
a {
    border-radius: 6px;
    background-color: rgb(143, 27, 12);
    color: #fff;
    width: 100px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
button:hover, button:focus {
    color: white;
    background-color:rgb(0, 0, 0);
}
@media screen and (min-width: 430px) {
    legend{
        font-size: 1.75em;                    
    }
    fieldset{
        width: 40%;
        min-width: 320px;
        margin: auto;
    }
    .checks label{
        display: inline-block;
        padding-top: 0;
        margin-top: 0;
        margin-right: .5em;
    }
}