@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&family=Playfair+Display&family=Quicksand:wght@300;400&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Quicksand:wght@300;400&display=swap');

body, html {
  height: 100%;
  margin: 0;
}

.bg-img {
	background-image: url("https://i.ibb.co/pnzkF1Q/2a03c849890288a01d1029cdba67c392-1.jpg");
  height: 100%;
	background-position: center;
	background-repeat: repeat;
  background-size: cover;
  position: relative;
	opacity: 60%;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: auto;
}

.home-txt h1 {
	position: absolute;
	width: 458px;
	height: 176px;
	left: 980px;
	top: 360px;
	text-align: right;
  font-family: Raleway;
  font-style: normal;
  font-weight: 30px;
  font-size: 72px;
	line-height: 96px;
	letter-spacing: 0.31em;
	color:  rgb(211, 84, 67);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-txt h3 {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 1100px;
  top: 490px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 30px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.21em;
  color: rgb(143, 27, 12);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


