@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat&family=Playfair+Display&family=Quicksand:wght@300;400&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Quicksand:wght@300;400&display=swap');

body, html {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  /*font-weight: 300;
  font-style: normal;
  webkit-font-smoothing: antialised;
  webkit-text-size-adjust: 100%;*/
}

.bg-img {
	background-image: url("https://i.ibb.co/pnzkF1Q/2a03c849890288a01d1029cdba67c392-1.jpg");
  height: 100%;
	background-position: center;
	background-repeat: repeat;
  background-size: cover;
  position: relative;
	opacity: 60%;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: auto;
}

.home-txt h1 {
	position: absolute;
	width: 458px;
	height: 176px;
	left: 980px;
	top: 360px;
	text-align: right;
  font-family: Raleway;
  font-style: normal;
  font-weight: 30px;
  font-size: 72px;
	line-height: 96px;
	letter-spacing: 0.31em;
	color:  rgb(211, 84, 67);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-txt h3 {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 1100px;
  top: 490px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 30px;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.21em;
  color: rgb(143, 27, 12);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section-header {
  margin-bottom: 35px;
}

.text-center {
  text-align: center !important;
}

.feature-row_image {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}
.grid {
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
}

.info-title {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 20, 5px;
margin-left: 0px;
font-family: Quicksand;
font-style: normal;
font-weight: 40px;
line-height: 1,2;
word-wrap: break-word;
}

p {
  font-family: Quicksand;
  color: #3d4246;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}