ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(236, 111, 123);
}

li {
  float: right;
}

li a {
  font-size: 130%;
  display: block;
  color: #ffff;
  text-align: center;
  padding: 20px 26px;
  text-decoration: none;
	font-family: Quicksand;
}
li a:hover {
  background-color: rgb(216, 48, 87);
}