/*Navbar css*/

.logo {
  float: left;
  padding-top: 10px;
  width: 100px;
  height: 50px;
}
#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 100px;
}

.navigation-bar {
  background-color: rgb(236, 111, 123);
  height: 70px;
  width: 100%;
}

ul {
  float: right;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(236, 111, 123);
}

li {
  float: right;
}

li a {
  font-size: 120%;
  display: block;
  color: #ffff;
  text-align: right;
  padding: 20px 20px;
  padding-top: 20px;
  text-decoration: none;
	font-family: Quicksand;
}

li a:hover {
  background-color: rgb(216, 48, 87);
}
